.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding-top: 20px;
}

.navbar-container {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.content {
    padding-top: 1.1rem;
}

@media (min-width: 641px) {
    .page {
        flex-direction: column;
    }
}

