@page "/login"
@using System.Text.Json
@using System.Collections.Generic
@using keyraces.Server.Dtos
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@inject IJSRuntime JS
@inject NavigationManager Nav
@inject AuthenticationStateProvider AuthStateProvider
@inject HttpClient Http

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>Email</label>
        <InputText @bind-Value="loginModel.Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Password</label>
        <InputText @bind-Value="loginModel.Password"
        type="password"
        class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {
    private LoginDto loginModel = new();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity?.IsAuthenticated == true)
        {
            Nav.NavigateTo("/", forceLoad: true);
        }
    }

    private async Task HandleLogin()
    {
        var opts = new Dictionary<string, object>
            {
                ["method"] = "POST",
                ["credentials"] = "include",
                ["headers"] = new Dictionary<string, string>
                {
                    ["Content-Type"] = "application/json"
                },
                ["body"] = JsonSerializer.Serialize(loginModel)
            };

        var status = await JS.InvokeAsync<int>(
            "authInterop.fetchWithCredentials",
            "/api/auth/login",
            opts
        );

        Console.WriteLine($">>> fetch status: {status}");
        if (status == 200)
            Nav.NavigateTo("/train", forceLoad: true);
        else
            Console.WriteLine("Login failed");
    }
}
